.menu_content{
    justify-content: right;
}
.wd_logo{
    font-weight: 800;
    font-size: 51px;
    line-height: 80px;
}

.wd_navbar {
    background: #ffffff !important;
    position: absolute;
    height: 65px;
    left: 0px;
    top: 0px;
  }

.btn_primary{
    background: #3f51b5 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius : 8px !important;
    color : #fff !important;
    margin: 3px !important;
}
.btn_secondary{
    background: #2D3748 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius : 8px !important;
    color : #fff !important;
    margin: 3px !important;
}
.btn_md{
    width: 182px;
    height: 52px;
}